/* Regular */
@font-face {
  font-family: "Sohne";
  src: url("./assets/fonts/Sohne/WOFF2/soehne-buch.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #fbfaf6; /* Off-white background */
  color: #153e2a; /* Green-500 text color */
  font-family: "Sohne", sans-serif;
  font-weight: 400;
}

/* Infite scroll animation for "get-in-the-way" list in AnimatedHeader ----------- */
@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 10s linear infinite;
}
